nav {
    display: flex;
    justify-content: space-between;
}

#outer-container-time {
    display: flex;
    width: 85px;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.option {
    margin: auto;
    list-style-type: none;
    width: 200px;
    display: flex;
    justify-content: start;
}
.option span {
    padding-left: 30px;
}